body {
    background-color: #CCC;
    font-family: Arial, sans-serif;
}

.cardWrapper {
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.cardFace {
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.front {
    background-color: #333;
}

.back {
    background-color: #333;
}

.cardFace h1 {
    margin: 0px;
    font-size: 30px;
    padding: 10px 0px 10px 10px;
    color: white;
}

.cardFace.back h1 {
    color: #91E600;
}

.active {
    color: #89CD25;
    border-left: 20px solid #89CD25;
    line-height: 30px;
}

ul {
    position: fixed;
    left: -40px;
    list-style-type: none;
}

li {
    width: 160px;
    padding: 10px;
    margin-bottom: 1px;
    background-color: #111;
    color: #CCC;
    border-left: 10px solid #333;
    cursor: pointer;
}