<div class="row sidebar">
    <h4>Nav {{selected}}</h4>
    <ul class="list-unstyled">
        <li><a ui-sref="app">Home</a></li>

        <li ng-repeat="item in items" ng-class="{'selected' : item === selected }">
            <a ui-sref="app.alt-{{item | lowercase}}" ng-click="selectme(item)">{{item}}</a>
        </li>
        <!--this example here is exactly the same as what's happening in the ng-repeat-->
        <a ui-sref="app.alt-one" ng-click="selectme(item)">{{item}}>one</a>
    </ul>
</div>