<!doctype html>
<html>
<head>
</head>
<body>

  <div ng-app='App'>
    <div custom-directive></div>
  </div>

  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script>
  var app = angular.module('App', []);

  app.directive('hi', function() {
    return {
      template: '<h2>Hi There</h2>',
      replace: true,
      compile : function () {
        console.log(1, 'hi compile');
        return function link () {
          console.log(1, 'hi link');
        }
      }
  };
});

  // every time a new directive is compiled both it's compile and link functions
  // are called
  app.directive('hello', function() {
   return {
     template: '<h2>Hello There</h2>',
     replace: true,
     compile : function () {
       console.log(2, 'hello compile');
       return function link () {
        console.log(2, 'hello link');
      }
    }
  };
});

  app.directive('customDirective', function($compile) {
   return {
     template: '<a ng-click="addType(\'hi\')">Click me Hi</a><br/>' +
     '<a ng-click="addType(\'hello\')">Click me Add Hello</a>',
     link: function(scope, element, attr) {
       scope.addType = function(type) {
         // you can't $compile an element which contains a directive, without a
         // scope
         var linkFn = $compile('<div ' + type + '></div>');
         var $el = linkFn(scope)
         $('body').append($el);

         // this does the same thing as the code above
         scope.nick = "Nick";
         $el = angular.element('<div>{{nick}}</div>');
         linkFn = $compile($el);
         $('body').append($el);
         // but you can compile this without scope and it only cotains text
         // which needs interpolation
         linkFn(scope);
       }
     }
   };
 });


  </script>
</body>
</html>