<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular File Upload library example</title>
</head>
<body ng-app="myApp">

  <h3>
    http://github.com/danialfarid/angular-file-upload  <br>
    http://angular-file-upload.appspot.com/
  </h3>

  <div ng-controller="MyCtrl">
  model info<input type="text" ng-model="myModelObj">
  <hr>
  <input type="file" ng-file-select="onFileSelect($files)" >
  <hr>
  <input type="file" ng-file-select="onFileSelect($files)" multiple>

  <hr>
  <div style="height:100px;width:100px;border:solid 5px;"
       ng-file-drop="onFileSelect($files)"
       ng-file-drag-over-class="optional-css-class"
       ng-show="dropSupported">drop files here</div>

  <hr>
  <div ng-file-drop-available="dropSupported=true"
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

  <hr>
  <button ng-click="upload.abort()">Cancel Upload</button>
</div>

  <!-- shim is needed to support upload progress/abort for HTML5 and non-HTML5 FormData browsers.-->
  <!-- use html5-shim.js instead if you just support HTML5 browsers and you need progress event-->
  <!-- Note: shim.js MUST BE PLACED BEFORE angular.js and angular-file-upload.js AFTER angular.js-->
  <script src="/lib/angular-file-upload-shim.js"></script>
  <script src="/lib/angular.js"></script>
  <script src="/lib/angular-file-upload.js"></script>

  <script>
    //inject angular file upload directives and service.
    angular.module('myApp', ['angularFileUpload']);

    var MyCtrl = [ '$scope', '$upload', function($scope, $upload) {
      $scope.onFileSelect = function($files) {
        for (var i = 0; i < $files.length; i++) {
          var file = $files[i];

          $scope.upload = $upload.upload({
            url: '/upload', //upload.php script, node.js route, or servlet url
            method: 'POST',
            headers: {'header-key': 'header-value'},
            withCredentials: true,
            data: {myObj: $scope.myModelObj},
            file: file,
          }).progress(function(evt) {
            console.log('percent: ' + parseInt(100.0 * evt.loaded / evt.total));
          }).success(function(data, status, headers, config) {
            console.log(data);
          });
          //.error(...)
          //.then(success, error, progress);
          //.xhr(function(xhr){xhr.upload.addEventListener(...)})// access and attach any event listener to XMLHttpRequest.
        }
      };
    }];
  </script>
</body>
</html>



