<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="utf-8">
    <title>Custom Form</title>
    <style>
        input.ng-invalid-required {
            border: solid 1px red;
        }
    </style>
</head>

<body ng-controller="MainCtrl">
<a ng-click="addNew()" style="cursor:pointer;">+ add new form input</a>

<form name="mainForm" ng-submit="submitAll()">
    <ul>
        <li ng-repeat="item in items">
            <ng-form name="subForm">
                <input type="text" required name="name" ng-model="item.name"/>
                <span ng-show="subForm.name.$error.required">required</span>
                <button type="button" ng-disabled="subForm.$invalid" ng-click="submitOne(item)">
                    Submit Single Form
                </button>
            </ng-form>
        </li>
    </ul>
    <button type="submit" ng-disabled="mainForm.$invalid">
        Submit All
    </button>
</form>
<hr/>
<div ng-show="lastSubmit">Last Submit:</div>
<pre>{{lastSubmit | json}}</pre>


<script src="/lib/angular-1.2/angular.js"></script>
<script>
    var app = angular.module('app', []);

    app.controller('MainCtrl', function ($scope) {
        $scope.items = [];

        $scope.addNew = function () {
            $scope.items.push({name: ''});
            console.log($scope);
        };

        $scope.submitOne = function (item) {
            $scope.lastSubmit = angular.copy(item);
        };

        $scope.submitAll = function () {
            $scope.lastSubmit = angular.copy($scope.items);
        };
    });
</script>
</body>

</html>