<!doctype html>
<html ng-app="app">
<head>
    <script src="/lib/angular-1.2/angular.js"></script>
</head>
<body ng-controller="MainCtrl">
<input type="text" ng-model="nick">
<input type="text" ng-model="nick">

<p>{{nick}}</p>

<script>
    var app = angular.module('app', []);

    var count = 0;
    app.controller('MainCtrl', function ($scope, $timeout) {
        $scope.$watch('nick', function () {
            ++count;
            console.log(count,'watch');

            // this will execute second
            $scope.$$postDigest(function () {
                console.log(count,'postDigest');
            });

            // this will execute last
            $timeout(function () {
                console.log(count,'timeout');
            },0);

            // this will execute first
            $scope.$evalAsync(function () {
                console.log(count,'evalAsync');
            });


        });
    });

</script>
</body>
</html>