<!doctype html>
<html>
<head>
    <script src="/lib/angular-1.2/angular.js"></script>
</head>
<body ng-app="app" ng-init="city={fity:'London'}">

<input type="text" ng-model="city.fity" placeholder="Enter a city"/>

<div ng-sparkline ng-model="city"></div>


<script>
    // this example shows two way binding
    var app = angular.module("app", []);

    app.directive('ngSparkline', function () {
        return {
            restrict: 'A',
            // we can do this as ng-model is a directive (even though this is a bit useless)
            require: '^ngModel',
            replace: true,
            scope: {
                ngModel: '='
            },
            template: '<div class="sparkline"><h4>Weather for {{ngModel}}</h4></div>',
            link: function (scope, el, attrs, ngModelCtrl) {
                console.log(1, scope.ngModel)
            }

        }
    });

</script>
</body>
</html>