<!DOCTYPE html>
<html ng-app="app">

<head lang="en">
    <meta charset="utf-8">
    <title>Display Dymnic Inputs</title>
</head>

<body ng-controller="MainCtrl">
<form name="mainForm" ng-submit="submitAll()">
    <ul>
        <li ng-repeat="item in items track by item.id" ng-form="subForm">
            {{item.name}}
            <input type="{{item.type || 'text'}}" ng-required="item.isRequired" name="name" ng-model="item.value"/>
            <span ng-show="subForm.name.$error.required">required</span>
            <button type="button" ng-disabled="subForm.$invalid" ng-click="submitOne(item)">Submit One</button>
        </li>
    </ul>
    <button type="submit" ng-disabled="mainForm.$invalid">Submit All</button>
</form>
<hr/>
<div ng-show="lastSubmit">Last Submit:</div>
<pre>{{lastSubmit | json}}</pre>

<script src="/lib/angular-1.2/angular.js"></script>
<script>
    var app = angular.module('app', []);

    app.controller('MainCtrl', function ($scope) {
        $scope.items = [
            {id: 1, name: 'username', isRequired: true},
            {id: 2, name: 'password', isRequired: true, type: 'password'},
            {id: 3, name: 'email', isRequired: true, type: 'email'},
            {id: 4, name: 'telno', isRequired: true, type: 'number'}
        ];
    });
</script>
</body>

</html>