<a href="event/{{shamvent.id}}">
    <div class="well hoverwell">
        <div class="row"><h2 class="span6">{{shamvent.name}}
        </h2></div>
        <div class="row"><span class="span1">Date:</span>
            <span>{{shamvent.date}}</span>
        </div>
        <div class="row"><span class="span1">Time:</span>
            <span>{{shamvent.time}}</span>
        </div>
        <div class="row"><span class="span1">Location:</span>
            <span>{{shamvent.location.address}}</span>
        </div>
        <div class="row"><span class="span1">&nbsp;</span>
            <span>{{shamvent.location.city}}, {{shamvent.location.province}}</span>
        </div>

    </div>
</a>
