
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>jsFiddle demo by buele</title>
</head>
<body>
  <h3 >Dynamic form fields AngularJS</h3>
  <div ng-app ng-controller="Controller" class="container">
   <h4>Inputs</h4>
   <ul ng-repeat="input in inputs">
    <li><span>{{input.name}} : </span>
      <div ng-switch="input.type">
        <div ng-switch-when="text">
          <input type="text" ng-model="outputs[input.name]">
        </input>
      </div>
      <div ng-switch-when="checkbox">
        <input type="checkbox" ng-model="outputs[input.name]"
        ng-checked="outputs[input.name]"
        value="outputs[input.name]">
      </input>
    </div>
  </div>
</li>
</ul>
<h4>Outputs</h4>
<ul ng-repeat="input in inputs">
  <li>
    {{input.name}} : {{outputs[input.name]}}
  </li>
</ul>
</div>

<script src="/lib/angular/angular.js"></script>
<script type='text/javascript'>
function Controller($scope) {
  $scope.outputs = {};
  $scope.inputs = [{
    type: "text",
    name: "first_field",
  }, {
    type: "text",
    name: "second_field",
  }, {
    type: "checkbox",
    name: "third_field",
  }];
}
</script>
</body>


</html>

