<!DOCTYPE html>
<html lang="en">

<head>
  <title>https://coderwall.com/p/40axlq</title>
  <script src="/lib/angular/angular.js"></script>
</head>

<body ng-app="app" ng-controller="FetchCtrl">

  <button ng-click="fetch()">Fetch</button>
  <button ng-click="showCache()">Show cache</button>
  <div>
    <pre>http status code: {{status}}</pre>
    <pre>http response data: {{data}}</pre>
  </div>

<script>
var app = angular.module('app', []);



function FetchCtrl($scope, $http, $cacheFactory) {
  //we're chaning the default cache to our new cache
  var httpDefaultCache = $cacheFactory('myNewDefaultCache', { capacity: 10 });
  $http.defaults.cache = httpDefaultCache;

  $scope.showCache = function () {
    console.log(httpDefaultCache.get('/data/cache'));
  };

  $scope.fetch = function() {
    $http({ cache: true, url: '/data/cache', method: 'GET'})
      .success(function(data, status) {
        $scope.status = status;
        $scope.data = data;
      })
      .error(function(data, status) {
        $scope.data = data || "Request failed";
        $scope.status = status;
      });
  };
}

</script>

</body>

</html>