<!doctype html>
<html ng-app="app">
<head>
  <script src="/lib/angular-1.2/angular.js"></script>
</head>
<body ng-controller="FooCtrl">


  <button ng-repeat="item in 'nick'.split('') track by $id($index)"
          ng-click="ev = $event">
    {{$index + 1}}. {{item}}
    {{ ev.pageX }}
  </button>

  <hr>

  <button ng-repeat="item in 'lowman'.split('') track by $id($index)"
          ng-click="myFunc($event, this)">
    {{$index + 1}}. {{item}}
    {{ ev.pageX }}
  </button>

  <hr>

  <button ng-repeat="item in 'was'.split('') track by $id($index)"
          ng-click="$log.warn($event)">
    {{$index + 1}}. {{item}}
  </button>

  <script>
  var app = angular.module("app", []);

  app.config(function ($logProvider) {
   $logProvider.debugEnabled(true);
 });

  app.run(function ($rootScope, $log) {
   $rootScope.$log = $log;
 });

  app.controller("FooCtrl", function($scope) {
   $scope.myFunc = function (e, scope) {
     console.warn(e);
     scope.ev = e
   };
 });


  </script>
</body>
</html>