<!doctype html>
<html ng-app="app">
<head>
  <script src="/lib/angular-1.2/angular.js"></script>
</head>
<body>
  <div ng-app="app">
    <div ng-controller="FooCtrl">
      <button class="button"
      ng-repeat="item in 'somewords'.split('') track by $id($index)"
      ng-click="ev = $event">
      {{ $index + 1 }}. {{ item }}
      {{ ev.pageX }}
    </button>

    <!-- <button
            ng-repeat="item in 'somewords'.split('')"
            ng-click="ev = $event">-->

<!--       <div  class="button"
            ng-repeat="item in 'somewords'.split('')"
            ng -click="$log.warn($event)"> -->
            <!-- log, warn, info, error, debug are all available console logging methods -->

  </div>
</div>

<script>
var app = angular.module("app", []);

app.config(function ($logProvider) {
 $logProvider.debugEnabled(true);
});

app.run(function ($rootScope, $log) {
 $rootScope.$log = $log;
});

app.controller("FooCtrl", function($scope) {
 $scope.myFunc = function (ev) {
   console.warn(ev);
 };
});


</script>
</body>
</html>


<!-- <button
            ng-repeat="item in 'somewords'.split('')"
            ng-click="ev = $event">-->

<!--       <div  class="button"
            ng-repeat="item in 'somewords'.split('')"
            ng -click="$log.warn($event)"> -->
            <!-- log, warn, info, error, debug are all available console logging methods -->