<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style type="text/css">
    div[drm-comment] {
      position: relative;
    }
    ul.menu {
      position:absolute;
      background : #fff;
    }
     td {
         display : block;
     }
  </style>
</head>
<body ng-app="app">

  <table>
    <tr>
      <td>
        <form ng-submit="CommentsController.addComment()" role="form" class="form-horizontal">
          <table>
            <tr>
              <td>
                <div drm-comment class="foo">
              </td>
              <td>
                <button type="submit" value="Submit" class="btn btn-success btn-xs">Submit</button>
              </td>
            </tr>
          </table>
        </form>
      </td>
    </tr>
  </table>


  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/underscore.js"></script>

  <script type="text/ng-template" id="menu.html">
    <div>
     <p>Match = {{ searchStr }}</p>
      <input type="text" ng-model="form.comment" name="form.comment" placeholder="m" class="form-control"/>
      <ul class="menu" ng-show="searchStr">
        <li ng-repeat="user in users | filter:searchStr">
          <a href="" ng-click="addUser()">{{ user.email }}</a>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/javascript">

    var app = angular.module('app', []);

    app.directive('drmComment', function() {
      return {
        restrict: 'A',
        scope : true,
        replace: true,
        templateUrl: 'menu.html',
        controller : function($scope, $element) {

          $scope.users = [{
            email : 'paul.gustafik',
            guid : 1
          },
          {
            email : 'pat.name',
            guid : 2
          },
          {
            email : 'mark.paut',
            guid : 3
          }];


           $element.find('input').on('keyup click', _.debounce(function (e) {
             var searchStr = searchString( $(e.target).val(), doGetCaretPosition(e.target));

               if (searchStr) {
               $scope.searchStr = searchStr ;
             } else {
                $scope.searchStr = null;
            }
               $scope.$digest()
          }, 50));

           // Based on where the caret is in the text input the search will return a matching search string
           // i.e. if the caret is on the word '@cars' in 'I like @cars' then it will return 'cars'
           var searchString = function(originalStrValue, caretPosition) {
             var selectionToCaret = originalStrValue.slice(0, caretPosition);
             var lastIndexOfAt = selectionToCaret.lastIndexOf('@');
             var lastIndexOfSpace = selectionToCaret.lastIndexOf(' ');
             var searchStr;

             if(lastIndexOfSpace < lastIndexOfAt) {
               searchStr = originalStrValue.slice(lastIndexOfAt); // snippet is everything from lastIndex to end
               var indexOfSpaceInSearchStr = searchStr.indexOf(' ');

               if (indexOfSpaceInSearchStr < 0) {
                   indexOfSpaceInSearchStr = searchStr.length;
               }
               searchStr = searchStr.slice(0, indexOfSpaceInSearchStr).replace('@','').toLowerCase();
             } else {
               searchStr = null;
             }

             return searchStr;
           };


           function doGetCaretPosition (oField) {
              // Initialize
              var iCaretPos = 0;
              // IE Support
              if (document.selection) {
                  // Set focus on the element
                  oField.focus ();
                  // To get cursor position, get empty selection range
                  var oSel = document.selection.createRange ();
                  // Move selection start to 0 position
                  oSel.moveStart ('character', -oField.value.length);
                  // The caret position is selection length
                  iCaretPos = oSel.text.length;
                }
              // Firefox support
              else if (oField.selectionStart || oField.selectionStart == '0')
                iCaretPos = oField.selectionStart;
              // Return results
              return (iCaretPos);
            }


        }
      };
    });


  </script>

</body>
</html>