<!doctype html>
<html ng-app="app">
<head>
</head>
<body ng-controller="MainCtrl as app">

<input type="text"
       ng-focus="name=''"
       ng-model="name"/>

<button ng-click="app.things.push({ idz : name })">Add</button>

<div ng-repeat="thing in app.things" nick-dir="{{$index}}">
    <a href="#">{{$index}} {{thing.idz}}</a>
</div>

<script src="/lib/angular-1.3/angular.js"></script>
<script>
    var app = angular.module('app', []);

    app.directive('nickDir', function () {
        return {
            compile: function (element, attrs) {
                // compile will be called once
                console.log('compile', attrs.nickDir)
                return function link(scope, element, attrs) {
                    // and this will be called each time the add button is clicked
                    console.log('link', attrs.nickDir);
                }
            }
        }
    });

    app.controller('MainCtrl', function () {
        this.things = [];
    });

</script>
</body>
</html>