
<div id="me">
  <img data-ng-src="{{whatson.imageUrl}}" alt="{{whatson.name}}"/>

  <div class="row">
    <div class="span11">
      <h2>{{whatson.name}}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div><strong>Date:</strong> {{whatson.date}}</div>
      <div><strong>Time:</strong> {{whatson.time}}</div>
    </div>
    <div class="span4">
      <address>
        <strong>Address:</strong><br/>
        {{whatson.location.address}}<br/>
        {{whatson.location.city}}, {{whatson.location.province}}
      </address>
    </div>

  </div>

  <hr/>

  <h3>Sessions</h3>
  Order By:
  <select ng-model="sortorder" class="input-small">
    <option selected value="name">Name</option>
    <option value="-upVoteCount">Votes</option>
  </select>
  Show:

  <select ng-model="query" class="input-medium">
    <option selected value="">All</option>
    <option value="introductory">Introductory</option>
    <option value="intermediate">Intermediate</option>
    <option value="advanced">Advanced</option>
  </select>

  <ul class="thumbnails">
    <li ng-repeat="manny in whatson.sessions | filter:query | orderBy:whatsonorder" class="span11">
      <div class="row manny">
        <upvote upvote="upVoteSession(manny)" downvote="downVoteSession(manny)" count="manny.upVoteCount"/>

        <div class="well span9" class="mannyThumbnail">
          <collapsible title="{{manny.name}}">
          <h6 style="margin-top:-10px;">{{manny.creatorName}}</h6>
          <span>Duration: {{manny.duration | durations}}</span><br />
          <span>Level: {{manny.level}}</span>

          <p>{{manny.abstract}}</p>
        </collapsible>
      </div>
    </div>
  </li>
</ul>
</div>
</div>
{{print()}}
