<!doctype html>
<html ng-app="app">
<head>
</head>
<body>

<div ng-controller="Ctrl">
    <input ng-model="name"> <br>
    <textarea ng-model="html"></textarea> <br>

    <!-- The value from this binding is compiled -->
    1. <span compile="html"></span><br/>

    <!-- The interpolation below is not compiled -->
    2. <span>{{html}}</span>
</div>

<script src="/lib/angular-1.2/angular.js"></script>
<script>

    angular.module('app', [], function ($compileProvider) {
        $compileProvider.directive('compile', function ($compile) {
            // directive factory creates a link function
            return function (scope, element, attrs) {
                scope.$watch(function (scope) {
                    // watch the 'compile' attribute for changes in the 'html' model property.
                    var eval = scope.$eval(attrs.compile);
                    console.log(101, eval);
                    return eval;
                },
                function (value) {
                    console.log(102, value);
                    // when the 'compile' expression changes in the textarea
                    // assign it into the current DOM
                    element.html(value);
                    // compile the new DOM and link it to the current
                    // scope.
                    // NOTE: we only compile .childNodes so that
                    // we don't get into infinite loop compiling ourselves
                    console.log(103, element.contents()[0])
//                    $compile(element.contents())(scope);
                });
            };
        })
    });

    function Ctrl($scope) {
        $scope.name = 'Angular';
        $scope.html = 'Hello {{name}}';
    }

</script>
</body>
</html>