<!doctype html>
<html>
<head>
</head>
<body>

  <div ng-app='App'>
    <div custom-directive></div>
  </div>

  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script>
  var app = angular.module('App', []);

  app.directive('hi', function() {
   return {
     template: '<h2>Hi There</h2>',
     replace: true,
     link : function () {
       console.log('Hi There')
     }
   };
 });

  app.directive('hello', function() {
   return {
     template: '<h2>Hello There</h2>',
     replace: true
   };
 });

  app.directive('customDirective', function($compile) {
   return {
     template: '<a ng-click="addType(\'hi\')">Click me Hi</a><br/>' +
               '<a ng-click="addType(\'hello\')">Click me Add Hello</a>',
     link: function(scope, element, attr) {
       scope.addType = function(type) {
         // you can't $compile without a scope
         var el = $compile('<div ' + type + '></div>')(scope);
         $('body').append(el);

       }
     }
   };
 });


  </script>
</body>
</html>