<!doctype html>
<html>
<head>
  <script src="/lib/angular-1.2/angular.js"></script>
</head>
<body>

 <div ng-app="phoneApp">
  <div ng-controller="AppCtrl">
    <button ng-click="callHome('help')">Call Home</button>
    <div phone dial="callHome(message)"></div>
    <div phone dial="callHome(message)"></div>
    <div phone dial="callHome(message)"></div>
  </div>
</div>

<script>


  var app = angular.module("phoneApp", []);

  app.controller("AppCtrl", function ($scope) {
    $scope.callHome = function (message) {
      alert(message);
    };
  });

  app.directive("phone", function() {
    return {
      scope:{
        // '&' example shows how to map method from the controller to a
        // '&' directive
        dial:"&"
      },
      template: '<input type="text" ng-model="value">' +
      '<button class="button" ng-click="dial({message:value})">Call home!</button>'
    };
  });

  </script>
</body>
</html>