<!doctype html>
<html ng-app="app">
<head>
  <script src="/lib/angular/angular.js"></script>
</head>
<body>
  <h2>Using the Compile method</h2>

  <h3>the compile method is used to manipulate the dom prior to the link function being called. the compile method really is only about DOM manipulations</h3>

  Type anything here
  <input type="text" ng-model="linktext">
  <div repeat-x="5">{{linktext}}</div>

  Type "hello world" here
  <input type="text" ng-model="compiletext">
  <div repeat-y="5" text="{{compiletext}}">{{compiletext}}</div>


  <script>
  var app = angular.module('app', []);

  app.directive('repeatX', function ($compile) {
    return {
      link: function(scope, element, attrs, controller) {
        // at this point there is only one 'repeatX' directive in the dom
        for (var i = 0, len = Number(attrs.repeatX)-1; i < len; i++) {
          // compiling is an expensive task as it requires angular to traverse
          // the dom looking for directives, so calling it 5 times here can slow
          // things down. It's better to do the dom traversal in one go, which
          // is when you use the compile method. after the new element is addeded
          // the compile scans for directives.
          element.after($compile(element.clone().attr('repeat-x', 0))(scope));
        }
      }
    }
  })

  // this is much better way of doing things
  app.directive('repeatY', function () {
    return {
      compile: function(element, attributes) {
        for (var i=0; i < Number(attributes.repeatY)-1; i++) {
          element.after(element.clone().attr('repeat-y', 0));
        }
        return function link (scope, element, attributes, controller) {
          // at this point the dom alread contains 5 'repeatY' directives
          attributes.$observe('text', function(newValue) {
            if (newValue === 'hello world') {
              element.css('color', 'red');
            } else {
              element.removeAttr('style');
            }
          });
        }
      }
    }
  })





  </script>
</body>
</html>
