<!doctype html>
<html>
<head>
    <script src="/lib/angular-1.3/angular.js"></script>
</head>
<body>

<div ng-app="drinkApp">
    <div ng-controller="AppCtrl as ctrl">
        Ctrl
        <br/>
        <input type="text" ng-model="ctrl.flavor">
        <br/>

        Directive
        <div drink="ctrl.flavor"></div>
    </div>
</div>


<script>
    // '=' this example shows how to create two way binding with an STRING
    // '=' the controller and directive
    var app = angular.module("drinkApp", []);

    app.controller("AppCtrl", function ($scope) {
        this.flavor= 'Chocolate';
    });

    app.directive("drink", function () {
        return {
            scope: {
                drink: "="
            },
            //template: '<div>{{ flavor }}</div>'
            template: '<input type="text" ng-model="drink">',
            link : function(scope) {

            }
        };
    });

</script>
</body>
</html>