<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>AngularJS Plunker</title>
    <style type="text/css">
        input {
            display: block;
        }
    </style>
</head>

<body>
<a href="http://stackoverflow.com/questions/11616636/how-to-do-two-way-filtering-in-angular-js">see here</a>

<div ng-app="demo" ng-init="" ng-controller="Demo">
    <div>
        <button ng-click="loadData1()">Load Data 1</button>
        <button ng-click="loadData2()">Load Data 2</button>
    </div>

    <input type="text" lowercase ng-model="data.var1"></input>
    <input type="text" lowercase ng-model="data.var2"></input>

    <p>
        This is the data in the model <br>
        <code>
            {{ data }}
        </code>
    </p>

</div>


<script src="/lib/angular-1.2/angular.js"></script>
<script type="text/javascript">

    var module = angular.module("demo", []);

    module.directive('lowercase', function () {
        return {
            restrict: 'A',
            require: 'ngModel',
            link: function (scope, element, attr, ngModel) {
                function fromViewToModel(text) {
                    return (text || '').toUpperCase();
                }

                function fromModelToView(text) {
                    return (text || '').toLowerCase();
                }

                // $parsers > format data going from View to Model
                ngModel.$parsers.unshift(fromViewToModel);
                // $formatters > format data going from Model to View
                ngModel.$formatters.unshift(fromModelToView);
            }
        };
    });

    function Demo($scope) {
        $scope.data = {
            var1: 'VALUE 1',
            var2: 'VALUE 2'
        };

        $scope.loadData1 = function () {
            $scope.data = {
                var1: 'ABCDEF',
                var2: 'GHJ ILK12345'
            };
        };

        $scope.loadData2 = function () {
            $scope.data = {
                var1: 'HELLO',
                var2: 'THIS IS UPPER'
            };
        };

    }

</script>
</body>
</html>