<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>ngmodel $render</title>
</head>

<body ng-app="app">
<div ng-init="amount=10"></div>

<bank ng-model="amount"></bank>
<hr>
<input type="text" ng-model="amount">
<hr>
<button ng-click="amount=0">Reset</button>

<script src="/lib/angular-1.2/angular.js"></script>
<script type="text/javascript">
    var app = angular.module("app", []);

    app.directive('bank', function ($filter) {
        return {
            restrict: 'E',
            template: '<div>Click to deposit $10</div>',
            require: 'ngModel',
            link: function (scope, element, attr, ngModel) {
                // this is one way of formatting view data. Notice this gets data formatted
                // from the formatted below.
                ngModel.$formatters.push(function (text) {
                    console.log(1, text)
                    return text + '. That is a lot';
                });

                // $formatters  are formatting data going from Model to View
                ngModel.$formatters.push($filter('currency', '£'));


                // Called when the view needs to be updated. It is expected that the
                // user of the ng-model directive will implement this method.
                // ngmodel does not do a deep watch.
                // http://stackoverflow.com/questions/21084088/why-ngmodels-render-is-not-called-when-the-model-changes-in-angularjs
                ngModel.$render = function () {
                    console.log(2, ngModel);
                    element.text('You now have ' + ngModel.$viewValue);
                };

            }
        };
    });

</script>
</body>
</html>