<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/lib/angular-1.2/angular.js"></script>
</head>

<body>

  <div ng-app="App">
    <div ng-controller="FetchCtrl">
      <select ng-model="method">
        <option>GET</option>
        <option>JSONP</option>
      </select>

      <input type="text" ng-model="url" size="80"/>

      <button ng-click="fetch()">Fetch</button><br>

      <button ng-click="updateModel('GET', 'http-hello.html')">
        Sample GET
      </button>

      <button ng-click="updateModel('JSONP', 'https://angularjs.org/greet.php?callback=JSON_CALLBACK&name=Super%20Hero')">
        Sample JSONP
      </button>

      <button ng-click="updateModel('JSONP', 'https://angularjs.org/doesntexist&callback=JSON_CALLBACK')">
        Invalid JSONP
      </button>
    <pre>http status code: {{status}}</pre>
    <pre>http response data: {{data}}</pre>
  </div>


  <!-- http-hello.html -->
  <script type="text/ng-template" id="http-hello.html">
    Hello, $http!
  </script>
</div>

<script>
app = angular.module('App', []);

app.config(function ($httpProvider) {
  $httpProvider.defaults.headers.common = { NickCommon : 11 }
});

function FetchCtrl($scope, $http, $templateCache) {
  $scope.method = 'GET';
  $scope.url = 'http-hello.html';

  $scope.fetch = function() {
    $scope.code = null;
    $scope.response = null;
    // here we are using the cache for this request only. notice that the
    // request for the http-hello.html comes from the cache
    var xhr = $http({
      method: $scope.method,
      url: $scope.url,
      cache: $templateCache
    });

    xhr.success(function(data, status) {
      $scope.status = status;
      $scope.data = data;
    });

     xhr.error(function(data, status) {
      $scope.data = data || "Request failed";
      $scope.status = status;
    });
  };

  $scope.updateModel = function(method, url) {
    $scope.method = method;
    $scope.url = url;
  };
}

</script>

</body>

</html>